h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h2 { 
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 2em 
}

body {
  font-family: 'Open Sans', sans-serif;;
  /*font-weight: 100;*/
  font: 10px 
}

ul {
  list-style-type:none
}

/*Centered text*/
p1 {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-40px;  /*this is half the height of your div  */
  margin-left:-250px; /*this is half of width of your div */
}

/*Centered searchbar*/
#cent {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;  /*this is half the height of your div  */
  margin-left:-100px; /*this is half of width of your div */
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.tick {
    width: 25px;
}

.bar {
    fill: orange;
    }

.bar:hover {
    fill: orangered;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
