body {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .navbar-header {
          margin-bottom: 20px;
        }

h2 { 
    margin-top: 2em; 
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick {
    width: 25px;
}