{% extends 'base.html' %}
{% block content %}

  <h1>Stock Sentiment Analysis</h1>

  <h2>Stock Details</h2>
  <p><a href="/stock-detail/AAPL">View sample stock details</a></p>

<div class="well spaced" style="width:60%">
    <h2>S&P500 Members</h2>
    <ul>
      {% for stock in stocks %}
          <li>
              <a href="/stock-detail/{{ stock.ticker }}">
                {{ stock.ticker }} ({{ stock.name }})
              </a>
          </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}