{% extends 'base.html' %}
{% block content %}

    <h1>{{ stock.ticker }}</h1>
    <p> {{ stock.name }}</p>
    <p> {{ stock.sector }}</p>
    <p> {{ stock.industry }} </p>
    <!-- Possibly insert link to company overview for the stock -->
    <!-- JINJA tweet display sourced from http://hironow.bitbucket.org/blog/html/2014/01/12/jinja2_tweets_display.html -->

    <h2>Intraday Data</h2>
    
    <div class="container">
    <div class="row">
        <form class="form">
        <div class="btn-group" id="timespan" name="timespan" role="group" aria-label="...">
          <button type="button" value="1" class="btn btn-default timespan-button">1hr</button>
          <button type="button" value="6" class="btn btn-default timespan-button">6hr</button>
          <button type="button" value="12" class="btn btn-default timespan-button">12hr</button>
          <button type="button" value="24" class="btn btn-default timespan-button">24hr</button>
        </div>
        </form>
    </div>
    </div>
   <!--  1) Add event listner to one button - console.log value
    2) Use Jquery to select all items with name timespan (which will give back a list)
    Iterate through the list.. for each item in list of buttons attach event listener
    3) $.get send to /data.json
    4) callback should be console.log("success")
    5) replace 4 with renderChart (look at stock-volume-bar.js $.get("/data.json", {timespan: 24}, renderChart);)  
    6) add new approute for /timespan-data.json-->

    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8">
                 <div id="scatter"></div>
                 <div id="bar-chart"></div>
                 <div id="quote_data">
                  <ul>
                    {% for item in quotes%}
                        <li>
                            {{ item.Timestamp }}
                            {{ item.close }}
                            {{ item.volume }}
                        </li>
                    {% endfor %}
                  </ul></div>
            </div>
            <div class="col-md-4">
                {%- for tweet in tweets -%}
                    <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}</a>
                </blockquote>
            {%- endfor -%}
            </div> 
        </div>
    </div>
    
<!-- Load d3.js -->
<script src='http://d3js.org/d3.v3.min.js' charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="/static/js/timespan.js"></script>
<script src="/static/js/stock-volume-bar.js"></script>
<script src="/static/js/scatter.js"></script>
<!-- <script src="/static/js/price.js"></script> -->



{% endblock %}