{% extends 'base.html' %}
{% block content %}

    <h1>{{ stock.ticker }}</h1>
    <p> {{ stock.name }}</p>
    <p> {{ stock.sector }}</p>
    <p> {{ stock.industry }} </p>
    <!-- Possibly insert link to company overview for the stock -->
    <!-- JINJA tweet display sourced from http://hironow.bitbucket.org/blog/html/2014/01/12/jinja2_tweets_display.html -->

    <h2>Intraday Data</h2>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8">
                 <div id="chart"></div>
                 <div id="quote_data">
                  <ul>
                    {% for item in quotes%}
                        <li>
                            {{ item.Timestamp }}
                            {{ item.close }}
                            {{ item.volume }}
                        </li>
                    {% endfor %}
                  </ul></div>
            </div>
            <div class="col-md-4">
                {%- for tweet in tweets -%}
                    <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}</a>
                </blockquote>
            {%- endfor -%}
            </div> 
        </div>
    </div>
    

<script src='http://d3js.org/d3.v3.min.js' charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="/static/js/stock-volume-bar.js"></script>

{% endblock %}